# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
wp-admin/
content/index.php
content/languages
content/plugins/index.php
content/themes/index.php
wordpress/wp-includes/
index.php
license.txt
readme.html
wp-*.php
xmlrpc.php
config/wp-config.local.php

/wordpress_config.yml

# Example themes
content/themes/twenty*/

# Example plugin
content/plugins/hello.php

# Uploads
content/uploads/

# Log files
*.log

# htaccess
.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes

/vendor/
