.blog-post {
  //   align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
  max-inline-size: rem(700);
  padding-top: rem(30);
  a {
    display: inline-block;
    &:last-child {
      margin-top: rem(30);
      @include mq($bp-mob) {
        margin-top: rem(50);
      }
    }
  }
  @include mq($bp-mob) {
    padding-top: rem(50);
  }
}
.post__featured-image {
  border-radius: rem(12);
  overflow: hidden;
  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
.blog-post__date {
  color: rgba(0, 0, 0, 0.7);
  font-size: rem(16);
  font-style: italic;
  font-weight: 700;
  @include mq($bp-mob) {
    font-size: rem(18);
  }
}
.author__profile {
  align-items: center;
  display: flex;
  .author__profile-picture {
    margin-right: rem(20);
    img {
      border-radius: 100%;
      height: rem(50);
      width: rem(50);
    }
  }
  .byline {
    color: rgba(0, 0, 0, 0.7);
    font-style: italic;
    font-weight: 700;
  }
}

// Blog Landing

.blog-posts__listing {
  @include mq($bp-mob) {
    display: grid;
    gap: rem(20);
    grid-template-columns: repeat(auto-fit, minmax(rem(486), 1fr));
    justify-content: space-evenly;
    list-style: none;
  }
}

.blog-post__card {
  border: 2px solid black;
  border-radius: rem(12);
  max-width: rem(486);
}

.blog-post__card__image {
  border-radius: rem(12);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  max-height: rem(250);
  overflow: hidden;
  img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
    width: 100%;
  }
}

.blog-post__card__body {
  h3 {
    margin-top: 0;
  }
  padding: rem(20);
}
