.festival-events__details-wrap {
	> div {
		height: 100%;
	}

	.festival-events__location,
	.festival-events__location-map,
	.location-map {
		height: 100%;
	}

	.leaflet-map {
		border-radius: rem(12);
		@include mq($bp-mob) {
			height: 100% !important;
		}
	}
	@include mq($bp-mob) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: rem(20);
		justify-content: space-between;
	}
}

.festival-events__location-header {
	padding-top: rem(24);
	@include mq($bp-mob) {
		padding-top: rem(50);
	}
}

div.festival-events__details {
	display: none;
	margin: 0;
	padding: 0;
	&[data-current-event="1"] {
		display: block;
	}
}

div.festival-events__switcher {
	padding-bottom: 0;
	ul li {
		border-radius: rem(12);
		overflow: hidden;
		button {
			background-color: white;
			border: 0;
			color: black;
			cursor: pointer;
			display: block;
			font-size: 18px;
			font-weight: bold;
			height: 100%;
			padding: rem(10) rem(20);
			transition: 0.2s all ease-in-out;
			width: 100%;
			&:hover {
				background-color: darken(white, 15%);
			}
		}
		&:nth-child(1n) {
			border-bottom: 3px solid #ef3a41;
		}
		&:nth-child(2n) {
			border-bottom: 3px solid #f7941d;
		}
		&:nth-child(3n) {
			border-bottom: 3px solid #ffdc00;
		}
		&:nth-child(4n) {
			border-bottom: 3px solid #71bf44;
		}
		&:nth-child(5n) {
			border-bottom: 3px solid #0080af;
		}
		&:nth-child(6n) {
			border-bottom: 3px solid #774ec6;
		}
	}
}

.festival-event {
	border: 3px solid;
	border-color: black;
	border-radius: rem(12);
	margin-top: rem(20);
	padding: rem(20);
	@include mq($bp-mob) {
		padding: rem(30);
		margin-top: 0;
	}
}

h3.location {
	align-items: center;
	display: flex;
	gap: rem(15);
	padding-top: 0;
	margin-top: 0;
	&:before {
		background: url(../svg/location.svg) no-repeat;
		background-position: center;
		background-size: contain;
		content: "";
		display: block;
		height: rem(36);
		width: rem(30);
	}
}

.festival-event__header {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: rem(20);
	justify-content: space-between;
	h3,
	p {
		margin: 0;
		padding: 0;
	}
	p {
		align-items: center;
		display: flex;
		font-size: rem(20);
		font-weight: bold;
		gap: rem(15);
		&:before {
			background: url(../svg/calendar.svg) no-repeat;
			background-position: center;
			background-size: contain;
			content: "";
			display: block;
			height: rem(26);
			width: rem(30);
		}
	}
}
