/*------------------------------------*\
    #Main
\*------------------------------------*/

/**
1. We use left and right padding to add some minimum space between the
contents of <main> and the edges of the parent element or viewport.
To avoid making the content narrower than intended, we add an exception
to our global box-sizing rule.
 */
main,
#main {
	box-sizing: content-box /* 1 */;
	// margin-inline: auto;
	// max-inline-size: rem($max-inline-size);
	padding-block-end: rem(100);
	padding-block-start: rem(24);
	padding-inline: 5vw;
}

.component {
	> div {
		margin-inline: auto;
		max-inline-size: rem($max-inline-size);
		padding: rem(24) 0;
		> h2 {
			&:first-child {
				margin-top: 0;
			}
		}
		@include mq($bp-tab-portrait) {
			padding: rem(48) 0;
		}
	}
	&:before {
		content: "";
		display: block;
		width: 100%;
		height: rem(6);
		background-image: url("../svg/rainbow-border.svg");
		margin: 0 -100vw;
		padding: 0 100vw;
	}
}

.component + .component {
	// margin-block-start: rem(24);

	// @include mq($bp-tab-portrait) {
	//   margin-block-start: rem(48);
	// }
}
