.cta-cards-listing {
  @include mq($bp-mob) {
    display: grid;
    gap: rem(20);
    grid-template-columns: repeat(auto-fit, minmax(rem(486), 1fr));
    justify-content: space-evenly;
    list-style: none;
  }
}

.cta-card {
  border-radius: rem(12);
  border-style: solid;
  border-width: rem(6);
  padding: rem(20);
  h3 {
    margin-top: 0;
  }
  &:not(:last-child) {
    margin-bottom: rem(20);
  }
}
