.sponsors-listing {
  text-align: center;
}

.sponsors {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include mq($bp-mob) {
    display: grid;
    gap: rem(20);
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    justify-content: space-evenly;
    list-style: none;
  }
}
