/*------------------------------------*\
    #Breadcrumbs
    See: https://scottaohara.github.io/a11y_breadcrumbs/
\*------------------------------------*/

.breadcrumbs {
	position: relative;

	.l-cluster > * {
		margin: 0;
	}

	.l-cluster > * > * {
		margin-block: 0;
		margin-inline: 0;
		padding-inline-end: 2em;
		padding-inline-start: 0;
		position: relative;
	}

	&:before {
		content: "";
		display: block;
		width: 100%;
		height: rem(6);
		background-image: url("../svg/rainbow-border.svg");
		margin: 0 -100vw;
		padding: 0 100vw;
	}
}

.breadcrumbs-inner {
	max-width: rem($max-inline-size);
	margin-inline: auto;
}

// Reset base <ol> styles
.breadcrumbs ol ::marker {
	content: "" !important;
}

.breadcrumbs li a {
	border: 0;
	color: $off-black;
	display: block;
	padding-block-end: rem(5);
	padding-block-start: rem(5);

	&:visited,
	&:hover,
	&:active {
		background-color: transparent;
		color: $off-black;
	}
}

.breadcrumbs [aria-current] {
	text-decoration: none;

	a {
		font-weight: 700;
	}

	&:focus {
		outline-color: $off-black;
	}
}

/**
Separator chevron - see https://codepen.io/jonneal/pen/kptBs
*/
.breadcrumbs li a {
	font-weight: 600;
}
.breadcrumbs li:not(:last-child) {
	&::after {
		block-size: 0.5em;
		border-style: solid;
		border-block-end-width: 0;
		border-block-start-width: 0.1em;
		border-inline-end-width: 0.1em;
		border-inline-start-width: 0;
		content: "";
		display: block;
		position: absolute;
		inline-size: 0.5em;
		inset-inline-end: 1.25em;
		inset-block-start: 50%;
		transform: rotate(45deg) translateY(-50%);
	}
}

[dir="rtl"] {
	.breadcrumbs li:not(:last-child) {
		&::after {
			transform: rotate(-45deg) translateY(-50%);
		}
	}
}

.breadcrumbs + .component {
	&:before {
		display: none;
	}
}
